.content {
  padding: 20px;
  background-color: #faf9f4;
  /* Light background similar to your image */
  text-align: center;
  font-family: "Arial", sans-serif;
  height: 100%;
}

.orders {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

@media (max-width: 768px) {
  .orders {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2px;
  }
}

.titre {
  font-size: 36px;
  position: relative;
  display: inline-block;
  color: #333;
  letter-spacing: 2px;
  text-transform: uppercase;
  /* Uppercase text like the image */
  margin-bottom: 50px;
  font-family: "Rouge Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
