@media (max-width: 768px) {
  header h1 {
    font-size: 1.5em !important;
    /* Diminuer la taille du titre pour les petits écrans */
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(135deg, #500000, #841c2e);
  padding: 10px 20px;
  /* Gradient Background */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Subtle shadow for depth */
  color: #fff;
}

header h1 {
  font-size: 48px;
  /* Taille du texte */
  font-weight: bold;
  /* Mettre en gras */
  text-transform: uppercase;
  /* Majuscules pour un effet stylé */
  letter-spacing: 3px;
  /* Espacement entre les lettres */
  margin: 0;
  /* Pas de marge */
}