@media (max-width: 768px) {
  header h1 {
    font-size: 1.5em !important;
  }
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(135deg, #500000, #841c2e);
  box-shadow: 0 4px 6px rgba(132, 28, 46, 0.4);
  /* Subtle shadow for depth */
  color: #fff;
}

header h1 {
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0;
}