/* Base Styles (Desktop and Tablet) */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
* {
  box-sizing: content-box;
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  background-color: #f5f5f5;
  font-family: "Poppins", sans-serif;
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.input-container i {
  position: absolute;
  left: 10px;
  color: #841c2e;
  /* Icon color to match theme */
  font-size: 1.2em;
}

.input-container input {
  padding-left: 35px;
  width: 100%;
  padding: 12px;
  padding-left: 35px;
  font-size: 1em;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-family: "Poppins", sans-serif;
  transition: border-color 0.3s;
}

.input-container input:focus {
  border-color: #841c2e;
  outline: none;
}

.input-container input::placeholder {
  color: #aaa;
}

.login-box {
  position: absolute;
  max-width: 400px;
  width: 100%;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-box h2 {
  color: #500000;
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
}

.login-box p {
  color: #500000;
  font-size: 1.1em;
  font-weight: 400;
  margin-bottom: 10px;
}

.login-box form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-box input:focus {
  border-color: #841c2e;
  outline: none;
}

.login-box button {
  padding: 12px;
  font-size: 1em;
  color: #ffffff;
  background-color: #500000;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  transition: background-color 0.3s;
}

.login-box button:hover {
  background-color: #841c2e;
}

.p-link {
  margin-top: 20px;
  font-size: 0.9em;
  color: #500000;
  font-family: "Poppins", sans-serif;
}

.p-link a {
  color: #841c2e;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s;
}

.p-link a:hover {
  color: #500000;
}

.p-link span {
  width: 30px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #841c2e;
  border-radius: 35%;
  padding: 8px;
  margin: 0 5px;
  font-size: 20px;
  color: #841c2e;
  transition: 0.3s;
  cursor: pointer;
}

.p-link span:hover {
  border-color: #500000;
  color: #f0f0f0;
  background-color: #500000;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .login-box {
    max-width: 70%;
    padding: 20px;
  }

  .login-box h2 {
    font-size: 1.3em;
  }
  .login-box p {
    font-size: 0.7em;
  }

  .login-box input {
    padding: 10px;
    padding-left: 35px;
    font-size: 0.8em;
  }

  .login-box button {
    padding: 10px;
    font-size: 0.9em;
  }
  .p-link {
    font-size: 0.8em;
    margin-top: 10px;
  }

  .p-link span {
    width: 20px;
    height: 20px;
    padding: 8px;
    margin: 0 5px;
    font-size: 15px;
  }
}
