/* Global Styling */
body {
  font-family: "Inter", sans-serif;
  background-color: #f3f4f6;
  margin: 0;
  padding: 0;
}

.purchase {
  padding: 8px;
}

.scroll-container {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
}

@media (max-width: 768px) {
  .scroll-container {
    display: flex;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    width: 100%;
    margin: 0px auto;
  }

  .scroll-container > * {
    flex: 0 0 auto;
    scroll-snap-align: start;
  }
}
