/* Global Styling */
body {
  font-family: "Inter", sans-serif;
  background-color: #f3f4f6;
  margin: 0;
  padding: 0;
}

.purchase-container {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
}
